<h1>現在開いているお店</h1>
<p>
	<%= link_to "Topに戻る", root_path %>
</p>
<hr>
<p><strong>ラストオーダーと定休日はリンク先にて確認してください</strong></p>
<hr>
	<ul>
		<% @restaurants.each do |r| %>

			<li>
				<%if r.last_order%>
					<%= link_to r.name, restaurant_path(r)%> (L.O  <%= r.last_order%>)
				<%else%>
					<%= link_to r.name, restaurant_path(r)%>
				<%end%>
			</li>
		<%end%>
	</ul>
</hr>